body {
  margin: 0;
  background-color: #404a59;
  font-family: sans-serif, Georgia, serif; 
  color: #f2eded;
}

.header {
  text-align: center;
  margin-bottom: 20px; /* Adjust the margin as needed */
}

.header h1 {
  font-family: 'Wensley', serif; 
  font-size: 24px; /* Adjust the font size as needed */
  color: #f2eded; /* Adjust the color as needed */
}

#container {
  position: relative;
  width: 100vw;
  height: 80vh;
  background-color: #404a59; /*entire background color*/
}
.map-control {
  font-size: 1rem;
  padding: 0.5rem .8rem;
  background: rgba(77, 89, 107, 0.5);
  color: #323c48;
  display: block;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(0,0,0, .2);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgba(255, 255, 255, 0.1);
  transition: all .35s ease;
}
.map-control:first-child {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border-top-width: 0;
}
.map-control:last-child {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-width: 0;
}

.sidebar {
  position: absolute;
  left: 1rem;
  top: 2rem;
  text-decoration: none;
/*   border: 1px solid rgba(0,0,0, .15); */
  border-radius: 3px;
  transition: border .35s ease;
  width: 200px;
  height: 100%;

}

.main-content {
  background-color: #fff;
}
.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 80%;
  padding: 2rem;
}
.map-visualize--details-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  background: rgba(0,0,0, .35);
    padding: 1rem;
  color: #fefefe;
  font-family: sans-serif;
}
.map-visualize--details-container h3,
.map-visualize--details-container h5 {
  margin: 0;
}
.map-visualize--details-container .company {
  margin: 0 0 .5rem;
}
.card-popup {
  position: absolute;
  z-index: 100001;
  display: none;
  background-color: white;
  padding: 1rem;
  border-radius: 3px;
  box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.1), 0 1px 1px rgba(16, 22, 26, 0.2), 0 2px 6px rgba(16, 22, 26, 0.2);
}
.card-popup.visible {
  display: block;
}
.cursor {
  cursor: pointer;
}
.card-popup:after {
  content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 0px;
    right: auto;
    top: -12px;
    border: 12px solid;
    border-color: transparent transparent transparent white;
}
.main-content {
  position: relative;
  z-index: 5;
}

/* CSS for legend */

.legend {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-right: 20px; /* Adjust spacing between legend items */
}

.legend-item:last-child {
  margin-right: 0; /* Remove margin from last legend item */
}

.legend-label{
  color: #edede6; /* Change text color to white */
  margin-right: 5px;
}

.legend-icon {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #fff; /* Inner circle color */
  position: relative;
  margin-right: 5px; 
}

.legend-icon::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  border-radius: 50%;
}

.malware { background-color: #FF5733; border: 5px solid #802c19;}
.phishing { background-color: #8b41e0; border: 5px solid #4a2278;}
.exploit { background-color: #dbde2a; border: 5px solid #6a6b14; }
